extends layout

block content
    .jumbotron
        p 
            a(href="/api/imagesearch/lolcats funny?offset=10") search
        p
            a(href="/api/latest/imagesearch") history

        br/
